<% if(error) { %>
	<%= error %>
<% } %>


<table>
	<% for(var x=0; x < sudoku.length; x++) { %>
	<tr>
		<% for(var y=0; y < sudoku[x].length; y++) { %>
		<td>
			<% if(typeof sudoku[x][y] === 'object') { %><sub><% } %>
			<%= sudoku[x][y] %>
			<% if(typeof sudoku[x][y] === 'object') {%></sub><% } %>
		</td>
		<% } %>
	</tr>
	<% } %>	
</table>

Logs:
<ol>
	<% for(var i=0; i < log.length; i++) { %>
	<li>
		(<%= log[i].x %> / <%= log[i].y %>)
		<% if(typeof log[i].old === 'object') { %><sub><% } %>
		<%= log[i].old %>
		<% if(typeof log[i].old === 'object') {%></sub><% } %>
		become
		<% if(typeof log[i].new === 'object') { %><sub><% } %>
		<%= log[i].new %>
		<% if(typeof log[i].new === 'object') {%></sub><% } %>
	</li>
	<% } %>
</ol>
